* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(22, 23, 27);
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  line-height: 100vh;
}
span {
  opacity: 0;
  transition: all 0.6s ease;
  transform: ;
  /* transform: translateY(50px);
  display: inline-block; */
}

span.fade {
  opacity: 1;
  color: rgb(206, 35, 63);
  /* transform: translateY(0px); */
}
